/* CSS RESET */
* {
	padding:0;
	margin:0;
}

/* GENERAL */
body {
	font-family:'lucida grande', "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	color:#444444;
	font-size:12.5px;
	background: #282c2f;
	margin: 0;
	padding: 0;
	text-align: center; //for ie
}

a, a:visited {
	color: #7E909D;
	color:#568FAD;
	text-decoration:none;
}

a:hover {
	color: #FF6600;
}

ul, li{
	list-style-image: none;
	list-style-type: none;
	padding:0;
	margin:0;
}

/* Header & Footer */
#nav_out{
	background-color:#251E20;
	background-color:#1f2225;
	height: 33px;
	width:100%;
}


#nav, #header, #content_user_menu{
	width:770px;
	height: inherit;
	margin: auto;
}

#header{
	width: 770px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align:left;
}

#content_user_menu{
	width: 770px;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align:left;
}

#header li{
	display: inline;
	margin:0;
	padding:0 6px;
}

#usermenu li:hover{
	cursor:pointer;
}

#header a, #header a:visited{
	color: #4C86D4;
}

#nav_left, #nav_left a, #nav_left a:visited {
	float: left;
	margin: 4px 0px;
	color: #4C86D4;
	font-weight: bold;
}

#nav_right{
	float:right; 
	margin: 7px 0px;
	font-size: 0.9em;
	font-weight: bold;
	list-style-type:none
}

#nav_right li{
	display: inline;
	border-left: solid 1px;
	margin:0; 
	padding:0 6px;
}

#nav_right li.first {
	border-left:none;
	padding-left:0;
}

#nav_right li.last {
	padding:none;
}

#nav_right li a, #nav_right li a:visited {
	color: #DEE5F8;
}

#nav_right li a:hover {
	color: #FF6600;
}

#content_user_menu .tabs {
	list-style: none;
	clear: both;
	float: left;
}

#content_user_menu li{
	display: inline;
	margin:0;
	font-size:1.05em;
	//padding:0 6px;
}

#content_user_menu li.first{
	padding-left:0;
}

#content_user_menu .tabs li a.active{
	background: white;
	//border-bottom: 1px solid white;
}

#content_user_menu .tabs li{
	float: left;
	//margin: 0 3px 0 0;
}

#content_user_menu .tabs li a {
	//display: block;
	padding: 5px;
	border: solid ##E16820 1px;
}

/* Content */
#wrapper {
	width: 770px;
	margin:30px auto;
	background-color: white;
	margin-top:0;
}

table.columns{
	width:100%;
}

.column{
	margin-bottom:15px;
	vertical-align:top;
}

#td_content{
	width: 540px;
}

#td_right_sidebar{
	width: 230px;
}

#td_footerleft{
	height:13px;
	background-image: url('../images/td_footerleftbg.jpg');
}

#td_footerright{
	height:13px;
	background-image: url('../images/td_footerrightbg.jpg');
}


.content .pane {
	padding: 5px;
	clear: both;
	height: 100%;
}

.tabbed-container {
	position: relative;
	clear: both;
	min-height: 10em;
}
.tabbed-container .overlay {
	position: absolute;
	clear: both;
	padding: 5px;
	width: 488px;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 100;
	height: 100%;
}

#right_sidebar{
	width:214px;
	padding-left:8px;
	padding-right:8px;
	text-align: left;
	background-image: url('../images/rightsidebarbg.jpg');
}

#td_right_sidebar ul, #td_right_sidebar ul li{
	text-align:left;
	margin-top:7px;
}

#td_right_sidebar ul li{
	padding-left: 8px;
}

h2{
	margin: 15px 0px;
	margin-top:1px #444 solid; 
	margin-bottom:1px #444 solid;
}
/*
*	Upload form on header
*/

upload_form {
	float:left;
	text-align:left;
}

td.left{
	width: 205px;
	text-align: left;
}

td {
	vertical-align: top;
}

td.right{
	text-align: left;
	width: 55px;;
	padding-left: 5px;
}

td.note {
	padding-left: 5px;
	text-align:left;
}

fieldset{
	border:none;
}

.response_note {
	font-size: 0.9em;
}

#usermenu{
	margin:20px 0 10px 0;
}

#header form input{
	margin: 3px 0;
}

.uploadform{
	margin:25px 0;
}

#simulatorTable, #simulatorTableHead, #symbols_Table, #showBIN_Table {
	width: 98%;
	margin:auto;
}

.simulatorWrapper {
	text-align:center
}


.tr0 {
	font-size:0.85em;
}
.tr1 {
	font-size:0.85em;
	background-color:#DEE5F8;
}

.col_linenumber{
	width: 15px;
}

.etiquetas1 {
	background-color:#DEE5F8;
}

.col_pc{
	width:16px;
}

.col_label{
	width:85px;
}

.col_address{
	width:60px;
}

.col_content{
	width:240px;
}

.col_content_HEX{
	//width:1%;
}

.col_operation{
	//width:15px;
}

.col0, .col1, .col2, .col3, .col4{
	text-align:left;
}

.registersName{
	width: 20px;
}

.registersValue{
	width: 140px;
}

#license,#welcome{
	text-align:left;
	margin:45px;
}

#scrollbar_container, #scrollbar_container_s, #scrollbar_container_sb {  
    position:relative;
	margin:0;
} 

#scrollbar_track, #scrollbar_track_s, #scrollbar_track_sb {  
	position:absolute;  
 	top:0;  
	right:0;  
	height:100%;  
	width:10px;  
 	background-color:transparent;  
	cursor:move;  
} 

#scrollbar_handle, #scrollbar_handle_s, #scrollbar_handle_sb {  
   	width:10px;  
	background-color:#444;
    cursor:move;  
    	-moz-border-radius: 5px;  
		-webkit-border-radius: 5px;  
		opacity:0.9;  
		-moz-opacity:0.9;  
} 

#scrollbar_content, #scrollbar_content_s, #scrollbar_content_sb {  
  	overflow:hidden;  
	//width:485px;  
	height:250px;  
}

#scrollbar_content {
	height:400px;
}

#control_overlay, #control_overlay_s, #control_overlay_b {  
	background-color:#000;  
}   

.modal {  
	background-color:#fff;  
 	padding:10px;  
    border:1px solid #333;  
} 

.tooltip {  
 	border:1px solid #000;  
 	background-color:#fff;  
  	height:25px;  
  	width:200px;  
 // 	font-family:"Lucida Grande",Verdana;  
  	font-size:10px;  
  	color:#333;  
} 

.simple_window {  
	width:250px;  
   	height:50px;  
  	border:1px solid #000;  
   	background-color:#fff;  
    padding:10px;  
    text-align:left;  
 //   font-family:"Lucida Grande",Verdana;  
    font-size:12px;  
  	color:#333;  
} 

.window {  
 	background-image:url("/images/window_background.png");  
  	background-position:top left;  
 	-moz-border-radius: 10px;  
   	-webkit-border-radius: 10px;  
  	padding:10px;  
   	font-family:"Lucida Grande",Verdana;  
  	font-size:13px;  
   	font-weight:bold;  
   	color:#fff;  
   	text-align:center;  
   	min-width:150px;  
   	min-height:100px;  
} 

.window .window_contents {  
 	margin-top:10px;  
  	width:100%;  
  	height:100%;      
} 
  
.window .window_header {  
 	text-align:center;  
} 

.window .window_title {  
 	margin-top:-7px;  
  	margin-bottom:7px;  
   	font-size:11px;  
   	cursor:move;  
} 

.window .window_close {  
 	display:block;  
  	position:absolute;  
  	top:4px;  
   	left:5px;  
   	height:13px;  
    width:13px;  
   	background-image:url("/images/close_window.gif");  
 	cursor:pointer;  
	cursor:hand;  
}

